/* Basic CSS */

html, body {
background: #222;
margin: 0;
padding: 0;
font-family: Verdana, sans-serif;
font-size: 12px;
}

#container {
background: #fefefe;
width: 760px;
margin: auto;
}

h1, h2 {
margin: 0;
padding: 0;
}

header {
background-image: linear-gradient(bottom, rgb(131,168,117) 4%, rgb(60,92,49) 80%);
background-image: -o-linear-gradient(bottom, rgb(131,168,117) 4%, rgb(60,92,49) 80%);
background-image: -moz-linear-gradient(bottom, rgb(131,168,117) 4%, rgb(60,92,49) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(131,168,117) 4%, rgb(60,92,49) 80%);
background-image: -ms-linear-gradient(bottom, rgb(131,168,117) 4%, rgb(60,92,49) 80%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, rgb(131,168,117)), color-stop(0.8, rgb(60,92,49)));
text-align: center;
padding: 15px;
box-shadow: 0px 2px 3px #000;
margin-bottom: 20px;
}

header h1,
header a {
color: #fff;
font-weight: normal;
text-decoration: none;
line-height: 1.5em;
}

header a:hover {
text-decoration: underline;
}

header ul, header li {
list-style: none;
display: inline;
padding: 0;
margin: 0;
}
header li {
padding: 0 10px;
}

#main {
padding: 0 20px;
}

footer {
text-align: center;
padding: 20px;
}


ul.meta, ul.meta li {
list-style: none;
display: inline;
padding: 0;
margin: 0;
}
ul.meta li {
padding: 0 15px 0 0;
}

div.item {
padding-bottom: 20px;
border-bottom: 1px inset #ddd;
margin-bottom: 20px;
}


div.item h2, 
div.item p,
div.item .postVideo {
padding: 0 0 10px 0;
margin: 0;
}

div.item .postcontent ul,
div.item .postcontent ol {
padding: 0 0 10px 25px;
margin: 0;
}

.pagi,
.pagi li {
display: inline;
}

.pagi {
height: 35px;
display: block;
margin: 1em 10px 0 10px;
padding: 0;
clear: both;
}

.pagi a,
.pagi span,
.pagi strong{
display: block;
float: left;
padding: 2px 8px;
background-color: #eee;
margin: 0 1px;
border-radius: 7px;
color: #111;
font-size: 12px;
}


form#edit p input,
form#edit p textarea {
width: 99%;
}

div.flashes {
padding: 10px;
font-size: 18px;
}

div.flash-info {
background: #f0f9ff;
border: 2px solid #e0e9f8;
padding: 10px;
}

.postimg img {
outline: 1px solid #666;
}